<style lang="scss">
	@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
	@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

	.ag-theme-alpine {
		@include ag-theme-alpine((odd-row-background-color: #CFD8DC));
</style>
<button mat-raised-button [routerLink]="['/paciente-form']">
  <fa-icon [icon]="['fas', 'star']"></fa-icon>Nuevo
</button>
<router-outlet></router-outlet>
<div class="container">
	<div>
		<h1>Buscar Paciente</h1>
		<form (ngSubmit)="buscarPaciente()" #buscarForm="ngForm">
			<div style="padding: 5px;">
				<label for="cedula" style="padding: inherit;"
          >Cedula de identidad:</label>
				<input
          type="number"
          id="cedula"
          style="width:40%"
          [(ngModel)]="paciente.cedula"
          name="cedula"
          #name="ngModel"
        />
      </div>
				<div style="padding: 5px;">
					<label for="cedula" style="padding: inherit;">Nombre:</label>
					<input
          type="string"
          id="nombre"
          style="width:40%"
          [(ngModel)]="paciente.nombre"
          name="nombre"
          #name="ngModel"
        />
      </div>
					<div class="row text-center">
						<button type="submit" class="btn btn-success" style="margin: 10px;">
          Buscar
        </button>
						<button
          type="button"
          class="btn btn-default text-center"
          (click)="limpiarFiltros(); buscarForm.reset()"
          title="Limpiar cajas"
          style="margin: 5px;"
        >
          <fa-icon [icon]="['fas', 'eraser']"></fa-icon>
        </button>
					</div>
		</form>
	</div>
	<ag-grid-angular style="width: 900px; height: 100%;" class="ag-theme-alpine" [rowData]="rowData | async"
		[columnDefs]="columnDefs">
	</ag-grid-angular>
</div>